body {
    font-family: Arial, sans-serif;
    background-color: rgb(253, 216, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
.promo-container {
    background-color: rgb(252, 203, 113);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    padding: 20px;
    text-align: center;
}
 
.promo-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
 
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 
.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}
 
.tab.voucher {
    background-color: #ff9028;
}
 
.tab.subscription {
    background-color: #ff5c74;
}
 
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.option {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}
 
.option span:first-child {
    margin-right: 10px;
}
 
.option:hover {
    background-color: #e0e0e0;
}